<div class="reservation_list" id="<%=spot.id%>">
  <p><%= spot_heading(spot) %></p>
  <p>Availability:</p>
  <p>
    <% spot.reservations.each do |reservation| %>
      <% if !(reserved?(reservation)) %>
        <p id="<%= reservation.id %>" class="reservation">
          <%= reservation.date.to_date.inspect %> <%= link_to "Reserve", {:controller => "reservations", :action => "update", :id => reservation.id}, {:method => :put, :class => "linkReserve"} %>
        </p>

  </p>
      <% end %>
    <% end %>
  </p>
</div>