<%= form_for :spot, method: :post do |f| %>
  <p>
    <%= f.label :street %>
    <%= f.text_field :street %>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.label :location_type %>
    <%= f.text_field :location_type %>
  </p>
  <p>Availability </p>
  <p>
    Monday: <%= check_box_tag "spot[monday]"%>
    Tuesday: <%= check_box_tag "spot[tuesday]"%>
    Wednesday:  <%= check_box_tag "spot[wednesday]"%>
    Thursday:  <%= check_box_tag "spot[thursday]"%>
    Friday: <%= check_box_tag "spot[friday]"%>
    Saturday: <%= check_box_tag "spot[saturday]"%>
    Sunday: <%= check_box_tag "spot[sunday]"%>
  </p>
  <p>Start Date</p>
  <p>
    <%= date_select :startDate, :order => [:day, :month, :year]%>
  </p>
  <p>End Date</p>
  <p>
    <%= date_select :endDate, :order => [:day, :month, :year] %>
  </p>
  <p><%= f.submit %></p>
<% end %>