Available Spots

<%= form_for(@spot) do |f| %>
  <%= f.label :spot_number %>
  <%= f.text_field :id %>
  <%= f.submit %> 
<% end %>

<% @spots.each do |spot| %>
  <p>
    ID: <%= spot.id %>
    Street: <%= spot.street %>
    Zip Code: <%= spot.zip_code %>
  </p>
<% end %>