<%= form_for :sessions, url: login_session_url do |f| %>
  <%= f.label :username, id="username" %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <p><%= f.submit 'Sign In' %></p>
<% end %>
<p>Not a user? <%= link_to "Sign up!", new_user_path %> </p>