<%= form_for :user, class: "form-horizontal", url: new_user_path do |f| %>
<form class="form-horizontal">
  <div class="form-group">
  <%= f.label :username, class: "col-lg-2 control-label" %>
  <%= f.text_field :username %>
  </div>
  <div class="form-group">
  <%= f.label :email, class: "col-lg-2 control-label" %>
  <%= f.text_field :email %>
  </div>
  <div class="form-group">
  <%= f.label :password, class: "col-lg-2 control-label" %>
  <%= f.password_field :password %>
  </div>
  <div class="form-group">
  <%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
  <%= f.password_field :password_confirmation %>
  </div>
  <p><%= f.submit %></p>
<% end %>
</form>