<p><%= spot.street %>, <%= spot.zip_code %></p>
<p>Price: <%= spot.price %></p>
<% if spot.user_id = current_user.id %>
  <p><%= link_to "Add More Dates", {controller: "reservations", action: "new", spot_id: spot} %></p>
<% end %>
<% reservations.each do |reservation| %>
  <p>Date: <%= reservation.date %></p>
  <% if reservation.renter.present? %>
    <p> Reserved By: <%= reservation.renter.username %> </p>
  <% else %>
    <p><%= link_to "Delete", { :controller => "reservations",
                          :action => "destroy",
                          :id => reservation.id},
                          { :method => :delete } %></p>
  <% end %>
<% end %>