<p><%= spot.street %>, <%= spot.zip_code %></p>
<p>Price: <%= spot.price %></p>
<% reservations.each do |reservation| %>
  <p>Date: <%= reservation.date %></p>
  <% if reservation.renter.present? %>
    <p> Reserved By: <%= reservation.renter.username %> </p>
  <% else %>
    <%= link_to "Delete", { :controller => "reservations",
                          :action => "destroy",
                          :id => reservation.id},
                          { :method => :delete } %>
  <% end %>
<% end %>