<p>Hi, <%= current_user.username %>!</p>

<p>Spots You've Posted for Rent </p>
<% @your_spots.each do |spot| %>
  <p>Address: <%= spot.street %>, <%= spot.zip_code %></p>
  <p>Price: <%= spot.price %></p>
  <p>Availability: <%= spot.start_date %> to <%= spot.end_date %></p>
  <p>
    <% spot.reservations.each do |spot_reservation| %>
      <p>
        <%= spot_reservation.date.to_date.inspect %> 
      </p>
      <p>
        Available: <%= spot_reservation.renter_id.nil? %>
      </p>
    <% end %>
  </p>
  <br>
<% end %>

<p>Spots You've Rented</p>
<% @your_reservations.each do |reservation| %>
  <p><%= reservation.date %></p>
  <p>
    <% spot = Spot.find(reservation.spot_id) %>
    <%= spot.street %>, <%= spot.zip_code %>
  </p>
<% end %>