<!DOCTYPE html>
<html>
<head>
  <title>IPark</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&?key=AIzaSyBkNY97z54PKxfPfnGI4XS8S0wM_cnkpY8&sensor=false"></script>
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body>
<%= render partial: "layouts/navbar" %>
<%= render partial: "layouts/buttons" %>
<%= yield %>
</body>
</html>

