<!DOCTYPE html>
<html>
<head>
  <title>IPark</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&?key=AIzaSyBkNY97z54PKxfPfnGI4XS8S0wM_cnkpY8&sensor=false"></script>
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-simple navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a data-toggle="collapse" data-target=".nav-collapse" class="brand" href="/"> <%= image_tag("eyePark.png") %></a>
        <div class="nav-collapse collapse">
          <ul class="nav">
          <% unless current_user.nil? %>
            <li><%= link_to "List a Spot", :controller => :spots, :action => :new %></li>
            <li><%= link_to "Profile", :controller => :users, :action => :show, :id => current_user.id %></li>
            <li class="active"><%= link_to "Sign Out", :controller => :sessions, :action => :destroy %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>